src/main/resources/tecdoc/tecdoc.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.cat.tecdoc.net"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://server.cat.tecdoc.net" name="TecdocToCat">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://server.cat.tecdoc.net"
                        schemaLocation="https://webservice.tecalliance.services/pegasus-3-0/services/TecdocToCatDLW.soapEndpoint?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="getOEArticlesByVIN">
        <part name="parameters" element="tns:getOEArticlesByVIN"/>
    </message>
    <message name="getOEArticlesByVINResponse">
        <part name="parameters" element="tns:getOEArticlesByVINResponse"/>
    </message>
    <message name="getLinkageTargets">
        <part name="parameters" element="tns:getLinkageTargets"/>
    </message>
    <message name="getLinkageTargetsResponse">
        <part name="parameters" element="tns:getLinkageTargetsResponse"/>
    </message>
    <message name="getArticles">
        <part name="parameters" element="tns:getArticles"/>
    </message>
    <message name="getArticlesResponse">
        <part name="parameters" element="tns:getArticlesResponse"/>
    </message>
    <message name="getVersion">
        <part name="parameters" element="tns:getVersion"/>
    </message>
    <message name="getVersionResponse">
        <part name="parameters" element="tns:getVersionResponse"/>
    </message>
    <message name="getAutoCompleteSuggestions">
        <part name="parameters" element="tns:getAutoCompleteSuggestions"/>
    </message>
    <message name="getAutoCompleteSuggestionsResponse">
        <part name="parameters" element="tns:getAutoCompleteSuggestionsResponse"/>
    </message>
    <message name="getVehiclesByVIN">
        <part name="parameters" element="tns:getVehiclesByVIN"/>
    </message>
    <message name="getVehiclesByVINResponse">
        <part name="parameters" element="tns:getVehiclesByVINResponse"/>
    </message>
    <message name="getAmBrandAddress">
        <part name="parameters" element="tns:getAmBrandAddress"/>
    </message>
    <message name="getAmBrandAddressResponse">
        <part name="parameters" element="tns:getAmBrandAddressResponse"/>
    </message>
    <message name="getPegasusVersionInfo2">
        <part name="parameters" element="tns:getPegasusVersionInfo2"/>
    </message>
    <message name="getPegasusVersionInfo2Response">
        <part name="parameters" element="tns:getPegasusVersionInfo2Response"/>
    </message>
    <message name="getLanguages">
        <part name="parameters" element="tns:getLanguages"/>
    </message>
    <message name="getLanguagesResponse">
        <part name="parameters" element="tns:getLanguagesResponse"/>
    </message>
    <message name="getLinkedArticles">
        <part name="parameters" element="tns:getLinkedArticles"/>
    </message>
    <message name="getLinkedArticlesResponse">
        <part name="parameters" element="tns:getLinkedArticlesResponse"/>
    </message>
    <message name="getLinkedBrands">
        <part name="parameters" element="tns:getLinkedBrands"/>
    </message>
    <message name="getLinkedBrandsResponse">
        <part name="parameters" element="tns:getLinkedBrandsResponse"/>
    </message>
    <message name="getCountries">
        <part name="parameters" element="tns:getCountries"/>
    </message>
    <message name="getCountriesResponse">
        <part name="parameters" element="tns:getCountriesResponse"/>
    </message>
    <message name="getCountryGroups">
        <part name="parameters" element="tns:getCountryGroups"/>
    </message>
    <message name="getCountryGroupsResponse">
        <part name="parameters" element="tns:getCountryGroupsResponse"/>
    </message>
    <message name="getCriteria2">
        <part name="parameters" element="tns:getCriteria2"/>
    </message>
    <message name="getCriteria2Response">
        <part name="parameters" element="tns:getCriteria2Response"/>
    </message>
    <message name="getGenericArticles">
        <part name="parameters" element="tns:getGenericArticles"/>
    </message>
    <message name="getGenericArticlesResponse">
        <part name="parameters" element="tns:getGenericArticlesResponse"/>
    </message>
    <message name="getVehicleIdsByKTypeNumber">
        <part name="parameters" element="tns:getVehicleIdsByKTypeNumber"/>
    </message>
    <message name="getVehicleIdsByKTypeNumberResponse">
        <part name="parameters" element="tns:getVehicleIdsByKTypeNumberResponse"/>
    </message>
    <message name="getVehicleIdsByMotor2">
        <part name="parameters" element="tns:getVehicleIdsByMotor2"/>
    </message>
    <message name="getVehicleIdsByMotor2Response">
        <part name="parameters" element="tns:getVehicleIdsByMotor2Response"/>
    </message>
    <message name="getVehicleIdsByMark">
        <part name="parameters" element="tns:getVehicleIdsByMark"/>
    </message>
    <message name="getVehicleIdsByMarkResponse">
        <part name="parameters" element="tns:getVehicleIdsByMarkResponse"/>
    </message>
    <message name="getVehicleIdsByVendorId2">
        <part name="parameters" element="tns:getVehicleIdsByVendorId2"/>
    </message>
    <message name="getVehicleIdsByVendorId2Response">
        <part name="parameters" element="tns:getVehicleIdsByVendorId2Response"/>
    </message>
    <message name="getVehicleIdsByKeyNumberPlates3">
        <part name="parameters" element="tns:getVehicleIdsByKeyNumberPlates3"/>
    </message>
    <message name="getVehicleIdsByKeyNumberPlates3Response">
        <part name="parameters" element="tns:getVehicleIdsByKeyNumberPlates3Response"/>
    </message>
    <message name="getAxleBrakeSizes">
        <part name="parameters" element="tns:getAxleBrakeSizes"/>
    </message>
    <message name="getAxleBrakeSizesResponse">
        <part name="parameters" element="tns:getAxleBrakeSizesResponse"/>
    </message>
    <message name="getAxleIdByTypeManCriteria3">
        <part name="parameters" element="tns:getAxleIdByTypeManCriteria3"/>
    </message>
    <message name="getAxleIdByTypeManCriteria3Response">
        <part name="parameters" element="tns:getAxleIdByTypeManCriteria3Response"/>
    </message>
    <message name="getAxleKeyNumbers">
        <part name="parameters" element="tns:getAxleKeyNumbers"/>
    </message>
    <message name="getAxleKeyNumbersResponse">
        <part name="parameters" element="tns:getAxleKeyNumbersResponse"/>
    </message>
    <message name="getAxleIdByKeyNumber">
        <part name="parameters" element="tns:getAxleIdByKeyNumber"/>
    </message>
    <message name="getAxleIdByKeyNumberResponse">
        <part name="parameters" element="tns:getAxleIdByKeyNumberResponse"/>
    </message>
    <message name="getAxleByIds2">
        <part name="parameters" element="tns:getAxleByIds2"/>
    </message>
    <message name="getAxleByIds2Response">
        <part name="parameters" element="tns:getAxleByIds2Response"/>
    </message>
    <message name="getAxleByIds3">
        <part name="parameters" element="tns:getAxleByIds3"/>
    </message>
    <message name="getAxleByIds3Response">
        <part name="parameters" element="tns:getAxleByIds3Response"/>
    </message>
    <message name="getMotorIdsByManuIdCriteria2">
        <part name="parameters" element="tns:getMotorIdsByManuIdCriteria2"/>
    </message>
    <message name="getMotorIdsByManuIdCriteria2Response">
        <part name="parameters" element="tns:getMotorIdsByManuIdCriteria2Response"/>
    </message>
    <message name="getMotorsByCarTypeManuIdTerm2">
        <part name="parameters" element="tns:getMotorsByCarTypeManuIdTerm2"/>
    </message>
    <message name="getMotorsByCarTypeManuIdTerm2Response">
        <part name="parameters" element="tns:getMotorsByCarTypeManuIdTerm2Response"/>
    </message>
    <message name="getMotorByIds2">
        <part name="parameters" element="tns:getMotorByIds2"/>
    </message>
    <message name="getMotorByIds2Response">
        <part name="parameters" element="tns:getMotorByIds2Response"/>
    </message>
    <message name="getMotorByIds3">
        <part name="parameters" element="tns:getMotorByIds3"/>
    </message>
    <message name="getMotorByIds3Response">
        <part name="parameters" element="tns:getMotorByIds3Response"/>
    </message>
    <message name="getVendorIds2">
        <part name="parameters" element="tns:getVendorIds2"/>
    </message>
    <message name="getVendorIds2Response">
        <part name="parameters" element="tns:getVendorIds2Response"/>
    </message>
    <message name="getMarkById">
        <part name="parameters" element="tns:getMarkById"/>
    </message>
    <message name="getMarkByIdResponse">
        <part name="parameters" element="tns:getMarkByIdResponse"/>
    </message>
    <message name="getShortCuts2">
        <part name="parameters" element="tns:getShortCuts2"/>
    </message>
    <message name="getShortCuts2Response">
        <part name="parameters" element="tns:getShortCuts2Response"/>
    </message>
    <message name="getChildNodesAllLinkingTarget2">
        <part name="parameters" element="tns:getChildNodesAllLinkingTarget2"/>
    </message>
    <message name="getChildNodesAllLinkingTarget2Response">
        <part name="parameters" element="tns:getChildNodesAllLinkingTarget2Response"/>
    </message>
    <message name="getChildNodesPattern">
        <part name="parameters" element="tns:getChildNodesPattern"/>
    </message>
    <message name="getChildNodesPatternResponse">
        <part name="parameters" element="tns:getChildNodesPatternResponse"/>
    </message>
    <message name="getChildNodesPattern2">
        <part name="parameters" element="tns:getChildNodesPattern2"/>
    </message>
    <message name="getChildNodesPattern2Response">
        <part name="parameters" element="tns:getChildNodesPattern2Response"/>
    </message>
    <message name="getGenericArticlesByManufacturer6">
        <part name="parameters" element="tns:getGenericArticlesByManufacturer6"/>
    </message>
    <message name="getGenericArticlesByManufacturer6Response">
        <part name="parameters" element="tns:getGenericArticlesByManufacturer6Response"/>
    </message>
    <message name="getGenericArticlesByManufacturer7">
        <part name="parameters" element="tns:getGenericArticlesByManufacturer7"/>
    </message>
    <message name="getGenericArticlesByManufacturer7Response">
        <part name="parameters" element="tns:getGenericArticlesByManufacturer7Response"/>
    </message>
    <message name="getArticleAccessoryList4">
        <part name="parameters" element="tns:getArticleAccessoryList4"/>
    </message>
    <message name="getArticleAccessoryList4Response">
        <part name="parameters" element="tns:getArticleAccessoryList4Response"/>
    </message>
    <message name="getArticleLinkedAllLinkingTargetManufacturer">
        <part name="parameters" element="tns:getArticleLinkedAllLinkingTargetManufacturer"/>
    </message>
    <message name="getArticleLinkedAllLinkingTargetManufacturerResponse">
        <part name="parameters" element="tns:getArticleLinkedAllLinkingTargetManufacturerResponse"/>
    </message>
    <message name="getArticleLinkedAllLinkingTargetManufacturer2">
        <part name="parameters" element="tns:getArticleLinkedAllLinkingTargetManufacturer2"/>
    </message>
    <message name="getArticleLinkedAllLinkingTargetManufacturer2Response">
        <part name="parameters" element="tns:getArticleLinkedAllLinkingTargetManufacturer2Response"/>
    </message>
    <message name="getPegasusVersionInfo">
        <part name="parameters" element="tns:getPegasusVersionInfo"/>
    </message>
    <message name="getPegasusVersionInfoResponse">
        <part name="parameters" element="tns:getPegasusVersionInfoResponse"/>
    </message>
    <message name="addDynamicAddress">
        <part name="parameters" element="tns:addDynamicAddress"/>
    </message>
    <message name="addDynamicAddressResponse">
        <part name="parameters" element="tns:addDynamicAddressResponse"/>
    </message>
    <message name="addDynamicAPIKey">
        <part name="parameters" element="tns:addDynamicAPIKey"/>
    </message>
    <message name="addDynamicAPIKeyResponse">
        <part name="parameters" element="tns:addDynamicAPIKeyResponse"/>
    </message>
    <message name="getAmBrands">
        <part name="parameters" element="tns:getAmBrands"/>
    </message>
    <message name="getAmBrandsResponse">
        <part name="parameters" element="tns:getAmBrandsResponse"/>
    </message>
    <message name="getBrands">
        <part name="parameters" element="tns:getBrands"/>
    </message>
    <message name="getBrandsResponse">
        <part name="parameters" element="tns:getBrandsResponse"/>
    </message>
    <message name="getVehicleByIds3">
        <part name="parameters" element="tns:getVehicleByIds3"/>
    </message>
    <message name="getVehicleByIds3Response">
        <part name="parameters" element="tns:getVehicleByIds3Response"/>
    </message>
    <message name="getVehicleByIds4">
        <part name="parameters" element="tns:getVehicleByIds4"/>
    </message>
    <message name="getVehicleByIds4Response">
        <part name="parameters" element="tns:getVehicleByIds4Response"/>
    </message>
    <message name="getVehiclesByKeyNumberPlates">
        <part name="parameters" element="tns:getVehiclesByKeyNumberPlates"/>
    </message>
    <message name="getVehiclesByKeyNumberPlatesResponse">
        <part name="parameters" element="tns:getVehiclesByKeyNumberPlatesResponse"/>
    </message>
    <message name="getArticleIdsWithState">
        <part name="parameters" element="tns:getArticleIdsWithState"/>
    </message>
    <message name="getArticleIdsWithStateResponse">
        <part name="parameters" element="tns:getArticleIdsWithStateResponse"/>
    </message>
    <message name="getAssignedArticlesByIds4">
        <part name="parameters" element="tns:getAssignedArticlesByIds4"/>
    </message>
    <message name="getAssignedArticlesByIds4Response">
        <part name="parameters" element="tns:getAssignedArticlesByIds4Response"/>
    </message>
    <message name="getArticleDirectSearchAllNumbersWithState">
        <part name="parameters" element="tns:getArticleDirectSearchAllNumbersWithState"/>
    </message>
    <message name="getArticleDirectSearchAllNumbersWithStateResponse">
        <part name="parameters" element="tns:getArticleDirectSearchAllNumbersWithStateResponse"/>
    </message>
    <message name="getDirectArticlesByIds4">
        <part name="parameters" element="tns:getDirectArticlesByIds4"/>
    </message>
    <message name="getDirectArticlesByIds4Response">
        <part name="parameters" element="tns:getDirectArticlesByIds4Response"/>
    </message>
    <message name="getCriteriaDialogAttributs">
        <part name="parameters" element="tns:getCriteriaDialogAttributs"/>
    </message>
    <message name="getCriteriaDialogAttributsResponse">
        <part name="parameters" element="tns:getCriteriaDialogAttributsResponse"/>
    </message>
    <message name="getArticleLinkedAllLinkingTarget3">
        <part name="parameters" element="tns:getArticleLinkedAllLinkingTarget3"/>
    </message>
    <message name="getArticleLinkedAllLinkingTarget3Response">
        <part name="parameters" element="tns:getArticleLinkedAllLinkingTarget3Response"/>
    </message>
    <message name="getArticleLinkedAllLinkingTarget4">
        <part name="parameters" element="tns:getArticleLinkedAllLinkingTarget4"/>
    </message>
    <message name="getArticleLinkedAllLinkingTarget4Response">
        <part name="parameters" element="tns:getArticleLinkedAllLinkingTarget4Response"/>
    </message>
    <message name="getArticleLinkedAllLinkingTargetsByIds3">
        <part name="parameters" element="tns:getArticleLinkedAllLinkingTargetsByIds3"/>
    </message>
    <message name="getArticleLinkedAllLinkingTargetsByIds3Response">
        <part name="parameters" element="tns:getArticleLinkedAllLinkingTargetsByIds3Response"/>
    </message>
    <message name="getModelSeries">
        <part name="parameters" element="tns:getModelSeries"/>
    </message>
    <message name="getModelSeriesResponse">
        <part name="parameters" element="tns:getModelSeriesResponse"/>
    </message>
    <message name="getModelSeries2">
        <part name="parameters" element="tns:getModelSeries2"/>
    </message>
    <message name="getModelSeries2Response">
        <part name="parameters" element="tns:getModelSeries2Response"/>
    </message>
    <message name="getVehicleIdsByCriteria">
        <part name="parameters" element="tns:getVehicleIdsByCriteria"/>
    </message>
    <message name="getVehicleIdsByCriteriaResponse">
        <part name="parameters" element="tns:getVehicleIdsByCriteriaResponse"/>
    </message>
    <message name="getArticlePartList">
        <part name="parameters" element="tns:getArticlePartList"/>
    </message>
    <message name="getArticlePartListResponse">
        <part name="parameters" element="tns:getArticlePartListResponse"/>
    </message>
    <message name="getAssignedArticlesByIds6">
        <part name="parameters" element="tns:getAssignedArticlesByIds6"/>
    </message>
    <message name="getAssignedArticlesByIds6Response">
        <part name="parameters" element="tns:getAssignedArticlesByIds6Response"/>
    </message>
    <message name="getAssignedArticlesByIds7">
        <part name="parameters" element="tns:getAssignedArticlesByIds7"/>
    </message>
    <message name="getAssignedArticlesByIds7Response">
        <part name="parameters" element="tns:getAssignedArticlesByIds7Response"/>
    </message>
    <message name="getDirectArticlesByIds6">
        <part name="parameters" element="tns:getDirectArticlesByIds6"/>
    </message>
    <message name="getDirectArticlesByIds6Response">
        <part name="parameters" element="tns:getDirectArticlesByIds6Response"/>
    </message>
    <message name="getDirectArticlesByIds7">
        <part name="parameters" element="tns:getDirectArticlesByIds7"/>
    </message>
    <message name="getDirectArticlesByIds7Response">
        <part name="parameters" element="tns:getDirectArticlesByIds7Response"/>
    </message>
    <message name="getKeyValues">
        <part name="parameters" element="tns:getKeyValues"/>
    </message>
    <message name="getKeyValuesResponse">
        <part name="parameters" element="tns:getKeyValuesResponse"/>
    </message>
    <message name="getManufacturers">
        <part name="parameters" element="tns:getManufacturers"/>
    </message>
    <message name="getManufacturersResponse">
        <part name="parameters" element="tns:getManufacturersResponse"/>
    </message>
    <message name="getManufacturers2">
        <part name="parameters" element="tns:getManufacturers2"/>
    </message>
    <message name="getManufacturers2Response">
        <part name="parameters" element="tns:getManufacturers2Response"/>
    </message>
    <portType name="TecdocToCat">
        <operation name="getOEArticlesByVIN">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getOEArticlesByVINRequest"
                   message="tns:getOEArticlesByVIN"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getOEArticlesByVINResponse"
                    message="tns:getOEArticlesByVINResponse"/>
        </operation>
        <operation name="getLinkageTargets">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getLinkageTargetsRequest"
                   message="tns:getLinkageTargets"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getLinkageTargetsResponse"
                    message="tns:getLinkageTargetsResponse"/>
        </operation>
        <operation name="getArticles">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticlesRequest" message="tns:getArticles"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticlesResponse"
                    message="tns:getArticlesResponse"/>
        </operation>
        <operation name="getVersion">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVersionRequest" message="tns:getVersion"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVersionResponse"
                    message="tns:getVersionResponse"/>
        </operation>
        <operation name="getAutoCompleteSuggestions">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAutoCompleteSuggestionsRequest"
                   message="tns:getAutoCompleteSuggestions"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAutoCompleteSuggestionsResponse"
                    message="tns:getAutoCompleteSuggestionsResponse"/>
        </operation>
        <operation name="getVehiclesByVIN">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehiclesByVINRequest"
                   message="tns:getVehiclesByVIN"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehiclesByVINResponse"
                    message="tns:getVehiclesByVINResponse"/>
        </operation>
        <operation name="getAmBrandAddress">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAmBrandAddressRequest"
                   message="tns:getAmBrandAddress"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAmBrandAddressResponse"
                    message="tns:getAmBrandAddressResponse"/>
        </operation>
        <operation name="getPegasusVersionInfo2">
            <documentation>This method is DEPRECATED. Please use getVersionInfo</documentation>
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getPegasusVersionInfo2Request"
                   message="tns:getPegasusVersionInfo2"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getPegasusVersionInfo2Response"
                    message="tns:getPegasusVersionInfo2Response"/>
        </operation>
        <operation name="getLanguages">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getLanguagesRequest"
                   message="tns:getLanguages"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getLanguagesResponse"
                    message="tns:getLanguagesResponse"/>
        </operation>
        <operation name="getLinkedArticles">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getLinkedArticlesRequest"
                   message="tns:getLinkedArticles"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getLinkedArticlesResponse"
                    message="tns:getLinkedArticlesResponse"/>
        </operation>
        <operation name="getLinkedBrands">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getLinkedBrandsRequest"
                   message="tns:getLinkedBrands"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getLinkedBrandsResponse"
                    message="tns:getLinkedBrandsResponse"/>
        </operation>
        <operation name="getCountries">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getCountriesRequest"
                   message="tns:getCountries"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getCountriesResponse"
                    message="tns:getCountriesResponse"/>
        </operation>
        <operation name="getCountryGroups">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getCountryGroupsRequest"
                   message="tns:getCountryGroups"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getCountryGroupsResponse"
                    message="tns:getCountryGroupsResponse"/>
        </operation>
        <operation name="getCriteria2">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getCriteria2Request"
                   message="tns:getCriteria2"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getCriteria2Response"
                    message="tns:getCriteria2Response"/>
        </operation>
        <operation name="getGenericArticles">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getGenericArticlesRequest"
                   message="tns:getGenericArticles"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getGenericArticlesResponse"
                    message="tns:getGenericArticlesResponse"/>
        </operation>
        <operation name="getVehicleIdsByKTypeNumber">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehicleIdsByKTypeNumberRequest"
                   message="tns:getVehicleIdsByKTypeNumber"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehicleIdsByKTypeNumberResponse"
                    message="tns:getVehicleIdsByKTypeNumberResponse"/>
        </operation>
        <operation name="getVehicleIdsByMotor2">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehicleIdsByMotor2Request"
                   message="tns:getVehicleIdsByMotor2"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehicleIdsByMotor2Response"
                    message="tns:getVehicleIdsByMotor2Response"/>
        </operation>
        <operation name="getVehicleIdsByMark">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehicleIdsByMarkRequest"
                   message="tns:getVehicleIdsByMark"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehicleIdsByMarkResponse"
                    message="tns:getVehicleIdsByMarkResponse"/>
        </operation>
        <operation name="getVehicleIdsByVendorId2">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehicleIdsByVendorId2Request"
                   message="tns:getVehicleIdsByVendorId2"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehicleIdsByVendorId2Response"
                    message="tns:getVehicleIdsByVendorId2Response"/>
        </operation>
        <operation name="getVehicleIdsByKeyNumberPlates3">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehicleIdsByKeyNumberPlates3Request"
                   message="tns:getVehicleIdsByKeyNumberPlates3"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehicleIdsByKeyNumberPlates3Response"
                    message="tns:getVehicleIdsByKeyNumberPlates3Response"/>
        </operation>
        <operation name="getAxleBrakeSizes">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAxleBrakeSizesRequest"
                   message="tns:getAxleBrakeSizes"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAxleBrakeSizesResponse"
                    message="tns:getAxleBrakeSizesResponse"/>
        </operation>
        <operation name="getAxleIdByTypeManCriteria3">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAxleIdByTypeManCriteria3Request"
                   message="tns:getAxleIdByTypeManCriteria3"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAxleIdByTypeManCriteria3Response"
                    message="tns:getAxleIdByTypeManCriteria3Response"/>
        </operation>
        <operation name="getAxleKeyNumbers">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAxleKeyNumbersRequest"
                   message="tns:getAxleKeyNumbers"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAxleKeyNumbersResponse"
                    message="tns:getAxleKeyNumbersResponse"/>
        </operation>
        <operation name="getAxleIdByKeyNumber">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAxleIdByKeyNumberRequest"
                   message="tns:getAxleIdByKeyNumber"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAxleIdByKeyNumberResponse"
                    message="tns:getAxleIdByKeyNumberResponse"/>
        </operation>
        <operation name="getAxleByIds2">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAxleByIds2Request"
                   message="tns:getAxleByIds2"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAxleByIds2Response"
                    message="tns:getAxleByIds2Response"/>
        </operation>
        <operation name="getAxleByIds3">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAxleByIds3Request"
                   message="tns:getAxleByIds3"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAxleByIds3Response"
                    message="tns:getAxleByIds3Response"/>
        </operation>
        <operation name="getMotorIdsByManuIdCriteria2">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getMotorIdsByManuIdCriteria2Request"
                   message="tns:getMotorIdsByManuIdCriteria2"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getMotorIdsByManuIdCriteria2Response"
                    message="tns:getMotorIdsByManuIdCriteria2Response"/>
        </operation>
        <operation name="getMotorsByCarTypeManuIdTerm2">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getMotorsByCarTypeManuIdTerm2Request"
                   message="tns:getMotorsByCarTypeManuIdTerm2"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getMotorsByCarTypeManuIdTerm2Response"
                    message="tns:getMotorsByCarTypeManuIdTerm2Response"/>
        </operation>
        <operation name="getMotorByIds2">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getMotorByIds2Request"
                   message="tns:getMotorByIds2"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getMotorByIds2Response"
                    message="tns:getMotorByIds2Response"/>
        </operation>
        <operation name="getMotorByIds3">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getMotorByIds3Request"
                   message="tns:getMotorByIds3"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getMotorByIds3Response"
                    message="tns:getMotorByIds3Response"/>
        </operation>
        <operation name="getVendorIds2">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVendorIds2Request"
                   message="tns:getVendorIds2"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVendorIds2Response"
                    message="tns:getVendorIds2Response"/>
        </operation>
        <operation name="getMarkById">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getMarkByIdRequest" message="tns:getMarkById"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getMarkByIdResponse"
                    message="tns:getMarkByIdResponse"/>
        </operation>
        <operation name="getShortCuts2">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getShortCuts2Request"
                   message="tns:getShortCuts2"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getShortCuts2Response"
                    message="tns:getShortCuts2Response"/>
        </operation>
        <operation name="getChildNodesAllLinkingTarget2">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getChildNodesAllLinkingTarget2Request"
                   message="tns:getChildNodesAllLinkingTarget2"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getChildNodesAllLinkingTarget2Response"
                    message="tns:getChildNodesAllLinkingTarget2Response"/>
        </operation>
        <operation name="getChildNodesPattern">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getChildNodesPatternRequest"
                   message="tns:getChildNodesPattern"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getChildNodesPatternResponse"
                    message="tns:getChildNodesPatternResponse"/>
        </operation>
        <operation name="getChildNodesPattern2">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getChildNodesPattern2Request"
                   message="tns:getChildNodesPattern2"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getChildNodesPattern2Response"
                    message="tns:getChildNodesPattern2Response"/>
        </operation>
        <operation name="getGenericArticlesByManufacturer6">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getGenericArticlesByManufacturer6Request"
                   message="tns:getGenericArticlesByManufacturer6"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getGenericArticlesByManufacturer6Response"
                    message="tns:getGenericArticlesByManufacturer6Response"/>
        </operation>
        <operation name="getGenericArticlesByManufacturer7">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getGenericArticlesByManufacturer7Request"
                   message="tns:getGenericArticlesByManufacturer7"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getGenericArticlesByManufacturer7Response"
                    message="tns:getGenericArticlesByManufacturer7Response"/>
        </operation>
        <operation name="getArticleAccessoryList4">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticleAccessoryList4Request"
                   message="tns:getArticleAccessoryList4"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticleAccessoryList4Response"
                    message="tns:getArticleAccessoryList4Response"/>
        </operation>
        <operation name="getArticleLinkedAllLinkingTargetManufacturer">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticleLinkedAllLinkingTargetManufacturerRequest"
                   message="tns:getArticleLinkedAllLinkingTargetManufacturer"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticleLinkedAllLinkingTargetManufacturerResponse"
                    message="tns:getArticleLinkedAllLinkingTargetManufacturerResponse"/>
        </operation>
        <operation name="getArticleLinkedAllLinkingTargetManufacturer2">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticleLinkedAllLinkingTargetManufacturer2Request"
                   message="tns:getArticleLinkedAllLinkingTargetManufacturer2"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticleLinkedAllLinkingTargetManufacturer2Response"
                    message="tns:getArticleLinkedAllLinkingTargetManufacturer2Response"/>
        </operation>
        <operation name="getPegasusVersionInfo">
            <documentation>This method is DEPRECATED. Please use getVersionInfo</documentation>
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getPegasusVersionInfoRequest"
                   message="tns:getPegasusVersionInfo"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getPegasusVersionInfoResponse"
                    message="tns:getPegasusVersionInfoResponse"/>
        </operation>
        <operation name="addDynamicAddress">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/addDynamicAddressRequest"
                   message="tns:addDynamicAddress"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/addDynamicAddressResponse"
                    message="tns:addDynamicAddressResponse"/>
        </operation>
        <operation name="addDynamicAPIKey">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/addDynamicAPIKeyRequest"
                   message="tns:addDynamicAPIKey"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/addDynamicAPIKeyResponse"
                    message="tns:addDynamicAPIKeyResponse"/>
        </operation>
        <operation name="getAmBrands">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAmBrandsRequest" message="tns:getAmBrands"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAmBrandsResponse"
                    message="tns:getAmBrandsResponse"/>
        </operation>
        <operation name="getBrands">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getBrandsRequest" message="tns:getBrands"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getBrandsResponse"
                    message="tns:getBrandsResponse"/>
        </operation>
        <operation name="getVehicleByIds3">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehicleByIds3Request"
                   message="tns:getVehicleByIds3"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehicleByIds3Response"
                    message="tns:getVehicleByIds3Response"/>
        </operation>
        <operation name="getVehicleByIds4">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehicleByIds4Request"
                   message="tns:getVehicleByIds4"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehicleByIds4Response"
                    message="tns:getVehicleByIds4Response"/>
        </operation>
        <operation name="getVehiclesByKeyNumberPlates">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehiclesByKeyNumberPlatesRequest"
                   message="tns:getVehiclesByKeyNumberPlates"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehiclesByKeyNumberPlatesResponse"
                    message="tns:getVehiclesByKeyNumberPlatesResponse"/>
        </operation>
        <operation name="getArticleIdsWithState">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticleIdsWithStateRequest"
                   message="tns:getArticleIdsWithState"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticleIdsWithStateResponse"
                    message="tns:getArticleIdsWithStateResponse"/>
        </operation>
        <operation name="getAssignedArticlesByIds4">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAssignedArticlesByIds4Request"
                   message="tns:getAssignedArticlesByIds4"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAssignedArticlesByIds4Response"
                    message="tns:getAssignedArticlesByIds4Response"/>
        </operation>
        <operation name="getArticleDirectSearchAllNumbersWithState">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticleDirectSearchAllNumbersWithStateRequest"
                   message="tns:getArticleDirectSearchAllNumbersWithState"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticleDirectSearchAllNumbersWithStateResponse"
                    message="tns:getArticleDirectSearchAllNumbersWithStateResponse"/>
        </operation>
        <operation name="getDirectArticlesByIds4">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getDirectArticlesByIds4Request"
                   message="tns:getDirectArticlesByIds4"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getDirectArticlesByIds4Response"
                    message="tns:getDirectArticlesByIds4Response"/>
        </operation>
        <operation name="getCriteriaDialogAttributs">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getCriteriaDialogAttributsRequest"
                   message="tns:getCriteriaDialogAttributs"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getCriteriaDialogAttributsResponse"
                    message="tns:getCriteriaDialogAttributsResponse"/>
        </operation>
        <operation name="getArticleLinkedAllLinkingTarget3">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticleLinkedAllLinkingTarget3Request"
                   message="tns:getArticleLinkedAllLinkingTarget3"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticleLinkedAllLinkingTarget3Response"
                    message="tns:getArticleLinkedAllLinkingTarget3Response"/>
        </operation>
        <operation name="getArticleLinkedAllLinkingTarget4">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticleLinkedAllLinkingTarget4Request"
                   message="tns:getArticleLinkedAllLinkingTarget4"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticleLinkedAllLinkingTarget4Response"
                    message="tns:getArticleLinkedAllLinkingTarget4Response"/>
        </operation>
        <operation name="getArticleLinkedAllLinkingTargetsByIds3">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticleLinkedAllLinkingTargetsByIds3Request"
                   message="tns:getArticleLinkedAllLinkingTargetsByIds3"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticleLinkedAllLinkingTargetsByIds3Response"
                    message="tns:getArticleLinkedAllLinkingTargetsByIds3Response"/>
        </operation>
        <operation name="getModelSeries">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getModelSeriesRequest"
                   message="tns:getModelSeries"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getModelSeriesResponse"
                    message="tns:getModelSeriesResponse"/>
        </operation>
        <operation name="getModelSeries2">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getModelSeries2Request"
                   message="tns:getModelSeries2"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getModelSeries2Response"
                    message="tns:getModelSeries2Response"/>
        </operation>
        <operation name="getVehicleIdsByCriteria">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehicleIdsByCriteriaRequest"
                   message="tns:getVehicleIdsByCriteria"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getVehicleIdsByCriteriaResponse"
                    message="tns:getVehicleIdsByCriteriaResponse"/>
        </operation>
        <operation name="getArticlePartList">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticlePartListRequest"
                   message="tns:getArticlePartList"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getArticlePartListResponse"
                    message="tns:getArticlePartListResponse"/>
        </operation>
        <operation name="getAssignedArticlesByIds6">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAssignedArticlesByIds6Request"
                   message="tns:getAssignedArticlesByIds6"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAssignedArticlesByIds6Response"
                    message="tns:getAssignedArticlesByIds6Response"/>
        </operation>
        <operation name="getAssignedArticlesByIds7">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAssignedArticlesByIds7Request"
                   message="tns:getAssignedArticlesByIds7"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getAssignedArticlesByIds7Response"
                    message="tns:getAssignedArticlesByIds7Response"/>
        </operation>
        <operation name="getDirectArticlesByIds6">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getDirectArticlesByIds6Request"
                   message="tns:getDirectArticlesByIds6"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getDirectArticlesByIds6Response"
                    message="tns:getDirectArticlesByIds6Response"/>
        </operation>
        <operation name="getDirectArticlesByIds7">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getDirectArticlesByIds7Request"
                   message="tns:getDirectArticlesByIds7"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getDirectArticlesByIds7Response"
                    message="tns:getDirectArticlesByIds7Response"/>
        </operation>
        <operation name="getKeyValues">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getKeyValuesRequest"
                   message="tns:getKeyValues"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getKeyValuesResponse"
                    message="tns:getKeyValuesResponse"/>
        </operation>
        <operation name="getManufacturers">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getManufacturersRequest"
                   message="tns:getManufacturers"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getManufacturersResponse"
                    message="tns:getManufacturersResponse"/>
        </operation>
        <operation name="getManufacturers2">
            <input wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getManufacturers2Request"
                   message="tns:getManufacturers2"/>
            <output wsam:Action="http://server.cat.tecdoc.net/TecdocToCat/getManufacturers2Response"
                    message="tns:getManufacturers2Response"/>
        </operation>
    </portType>
    <binding name="TecdocToCatPortBinding" type="tns:TecdocToCat">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getOEArticlesByVIN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getLinkageTargets">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getArticles">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getVersion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAutoCompleteSuggestions">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getVehiclesByVIN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAmBrandAddress">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getPegasusVersionInfo2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getLanguages">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getLinkedArticles">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getLinkedBrands">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCountries">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCountryGroups">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCriteria2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getGenericArticles">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getVehicleIdsByKTypeNumber">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getVehicleIdsByMotor2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getVehicleIdsByMark">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getVehicleIdsByVendorId2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getVehicleIdsByKeyNumberPlates3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAxleBrakeSizes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAxleIdByTypeManCriteria3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAxleKeyNumbers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAxleIdByKeyNumber">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAxleByIds2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAxleByIds3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getMotorIdsByManuIdCriteria2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getMotorsByCarTypeManuIdTerm2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getMotorByIds2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getMotorByIds3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getVendorIds2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getMarkById">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getShortCuts2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getChildNodesAllLinkingTarget2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getChildNodesPattern">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getChildNodesPattern2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getGenericArticlesByManufacturer6">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getGenericArticlesByManufacturer7">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getArticleAccessoryList4">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getArticleLinkedAllLinkingTargetManufacturer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getArticleLinkedAllLinkingTargetManufacturer2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getPegasusVersionInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addDynamicAddress">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addDynamicAPIKey">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAmBrands">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getBrands">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getVehicleByIds3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getVehicleByIds4">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getVehiclesByKeyNumberPlates">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getArticleIdsWithState">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAssignedArticlesByIds4">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getArticleDirectSearchAllNumbersWithState">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getDirectArticlesByIds4">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCriteriaDialogAttributs">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getArticleLinkedAllLinkingTarget3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getArticleLinkedAllLinkingTarget4">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getArticleLinkedAllLinkingTargetsByIds3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getModelSeries">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getModelSeries2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getVehicleIdsByCriteria">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getArticlePartList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAssignedArticlesByIds6">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAssignedArticlesByIds7">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getDirectArticlesByIds6">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getDirectArticlesByIds7">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getKeyValues">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getManufacturers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getManufacturers2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="TecdocToCat">
        <port name="TecdocToCatPort" binding="tns:TecdocToCatPortBinding">
            <soap:address
                    location="https://webservice.tecalliance.services/pegasus-3-0/services/TecdocToCatDLW.soapEndpoint"/>
        </port>
    </service>
</definitions>